@model RegisterViewModel;


<div class="pageContainer">

    <div class="row">
        @if (ViewData["errors"] is not null && ((string[])ViewData["errors"]).Length > 0)
        {
            @foreach (var error in (string[])ViewData["errors"])
            {
                <p class="text-danger">@error</p>
            }
        }


        @*<form method="post" action="/user/register">
        <input hidden asp-for="ReturnUrl" />

        <div class="form-group mt-2">
        <label>First Name</label>
        <input class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
        <label>Last Name</label>
        <input class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
        <label>Email Address</label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
        <label>Phone Number</label>
        <input class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
        <label>Password</label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button class="btn btn-secondary offset-2 mt-2" type="submit">Submit</button>
        </form>*@


        <div class="contentContainer">
            <div class="content">
                <div class="logoImage">
                    <img src="/images/logo.png" height="32" />
                </div>
                <div class="topArea">
                    <h3>Create your account</h3>
                    <p>
                        Already have an account?
                        <a asp-area="" asp-controller="User" asp-action="Login">
                            <span>Sign in</span>
                        </a>
                    </p>
                </div>
                <form method="post" action="/user/login">
                    <div class="formRowContainer">
                        <div class="formFieldContainer">
                            <input name="firstName" type="text" asp-for="FirstName" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="formFieldContainer">
                            <input name="lastName" type="text" asp-for="LastName" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="formFieldContainer">
                        <input name="emailAddress" type="text" asp-for="Email" placeholder="Email Address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="formRowContainer">
                        <div class="formFieldContainer">
                            <input name="password" type="text" asp-for="Password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="formFieldContainer">
                            <input name="confirmpassword" type="text" asp-for="Password" placeholder="Confirm Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="formRowContainer">
                        <div class="formFieldContainer phoneSelectionField">
                            <select name="countryCallingCode" type="text">
                                <option value="+234">+234</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="formFieldContainer phoneTextInputField">
                            <input name="phoneNumber" type="text" asp-for="Phone" placeholder="Phone Number" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <button>Sign up</button>
                </form>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }