@model LoginViewModel;


<div class="pageContainer">

    <div class="row">
        @{
            ViewData["Title"] = "Forgot Password";
        }

        <div class="contentContainer">
            <div class="content">
                <div class="logoImage">
                    <img src="/images/logo.png" height="32" />
                </div>
                <div class="topArea">
                    <h3>Forgot Password</h3>
                    <p>
                        Please input your email below
                    </p>
                    <span class="globalErrorMsg">An error occured. Please try again.</span>
                </div>
                <form method="post" action="/user/login">
                    <div class="formFieldContainer">
                        <input name="accountID" asp-for="Email" placeholder="Enter your Email address" />
                        <span class="errorMsg">Please input your valid email address</span>
                    </div>

                    <a href="">
                        <button>Continue</button>
                    </a>
                </form>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }