@model LoginViewModel;


<div class="pageContainer">

    <div class="row">
        @{
            ViewData["Title"] = "Login";
        }
        @if (ViewData["errors"] is not null && ((string[])ViewData["errors"]).Length > 0)
        {
            @foreach (var error in (string[])ViewData["errors"])
            {
                <p class="text-danger">@error</p>
            }
        }

        <div class="contentContainer">
            <div class="content">
                <div class="logoImage">
                    <img src="/images/logo.png" height="32" />
                </div>
                <div class="topArea">
                    <h3>Reset password</h3>
                    @*<p>
                    Go back to login
                    <a href="https://deestravels.com/user/b2c-registration">
                    <span>Log in</span>
                    </a>
                    </p>*@
                    <span class="globalErrorMsg">There was an error resetting your password.<br />Please try again.</span>
                    <span class="globalSuccessMsg">Your password has been updated successfully.</span>
                </div>
                <form method="post" action="/user/login">
                    <div class="formFieldContainer">
                        <input name="password" type="password" asp-for="Password" placeholder="Password" />
                        <span class="errorMsg">Please input your password</span>
                    </div>
                    <div class="formFieldContainer">
                        <input name="password" type="password" asp-for="Password" placeholder="Confirm password" />
                        <span class="errorMsg">Please input a matching password</span>
                    </div>
                    <button>Reset password</button>
                </form>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }